<div class="container">
  <h1 class="py-5">Dashboard</h1>
  <div class="row">
    <div class="col-9">
      <div class="mt-5">
        <h2 style="font-size: 24px">Próximo agendamento</h2>
        <div>Jaca Melão as 11:00 até as 12:00 lavação e hidratação</div>
      </div>

      <div class="mt-5">
        <h2 style="font-size: 24px">Agendamentos para <span>{{ selectedDay.toDateString() }}</span></h2>

        <app-events *ngFor="let appointment of appointments" [appointment]=appointment></app-events>

      </div>


    </div>

    <div class="col-md-3 mt-5">
      <app-calendar (daySelected)="serverElement($event)"></app-calendar>
    </div>
  </div>
</div>
