<h3>{{ months[currentDate.getMonth()] }}</h3>
<div class="calendar-container">
  <div *ngFor="let date of Object.values(calendarByWeek)">
    <div class="day-container appointment" *ngFor="let day of date"
         [ngClass]="{
         'current-month': day.getMonth() === currentDate.getMonth(),
         'today': currentDate.toDateString() === day.toDateString(),
         'past-event': currentDate > day
         }">
      {{ day.getDate() }}
    </div>
  </div>
</div>

<button (click)="offsetMonth(1)">Next month</button>
<!--<button (click)="calendar(0,1)">Next month</button>-->
