@import 'bootstrap';

$cell-size: 48px;

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;


  &-container {
    width: 7*$cell-size;
    margin-bottom: 16px;
  }

}

.calendar-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  width: 7*$cell-size;


}

.day-container {
  width: $cell-size;
  height: $cell-size;
  text-align: center;
  padding: 8px;
  border: 1px solid transparent;
  margin: 0;
  background: #ffffff22;
  opacity: .3;
  position: relative;
}

.text-highlight {
  opacity: 1;
  background: rgb(239 239 239 / 4%)
}

.current-month {
  opacity: 1;
}

.today {
  background: yellow;
  color: black;
  font-weight: bold;
}

.appointment {
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    margin: auto;
    background: red;
    position: absolute;
    bottom: 6px;
    left: calc(50% - 4px);
    border-radius: 4px;
  }


}

.past-event {
  @extend .appointment;

  &::before {
    opacity: .3;
    background: #00f;
  }
}
