$cell-size: 48px;

.calendar-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  width: 8*$cell-size;

  & > li {
    width: $cell-size;
    height: $cell-size;
    text-align: center;
    padding: 8px;
    border: 1px solid transparent;
    margin: 0;
    background: #ffffff22;
    opacity: .3;
  }

  .current-month {
    opacity: 1;
  }

  .today{
    background: yellow;
    color: black;
    font-weight: bold;
  }

}
