<div class="header">
  <button class="btn btn-outline-light" (click)="offSetMonth(-1)" aria-label="Previews month"><</button>
  <h3 style="font-size: 16px; margin-bottom: 0;display: block; align-self: center">{{ months[calendarByWeek[14].getMonth()] }} - {{ calendarByWeek[14].getFullYear() }}</h3>
  <button class="btn btn-light" (click)="today()">Today</button>
  <button class="btn btn-outline-light" (click)="offSetMonth(1)" aria-label="Next month">></button>
</div>

<div class="calendar-container">
  <div class="day-container text-highlight" *ngFor="let dayName of weekdays">
    {{ dayName[0].toUpperCase() }}
  </div>
</div>

<div class="calendar-container">
  <div class="day-container appointment" *ngFor="let day of calendarByWeek"
       [ngClass]="{
         'current-month': currentDate.getMonth() === day.getMonth() && currentDate.getFullYear() === day.getFullYear() ,
         'today': currentDate.toDateString() === day.toDateString(),
         'past-event': currentDate > day
         }">
    {{ day.getDate() }}
  </div>
</div>



